@model DevTrack.Web.Areas.Admin.Models.ProjectCreateModel


<div class="row">
    <div class="col">
        <h2>Projects</h2>
    </div>
    <div class="col text-right">
        <a class="btn btn-outline-primary" asp-action="AddProject">New Project</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Project Id</th>
                <th scope="col">Project Name</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var project in Model.ProjectList)
                {
                    <tr>
                        <td>@project.Id</td>
                        <td>@project.Name</td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-Id="@project.Id" class="btn btn-success m-0">Details</a>
                            <a asp-action="Edit" asp-route-Id="@project.Id" class="btn btn-primary m-0">Update</a>
                            <a asp-action="Delete" asp-route-Id="@project.Id" class="btn btn-danger m-0">Delete</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>